<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le-Ram{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
    <header>
            <div class="cabecera fixed-top active mb-5">
                <div class="row text-center">
                    <div class="col-md-3 align-self-center text-left"><h3 class="icono">Le-Ram</h3></div>
                    <div class="col-md-6 text-center"><h3 class="logo">Le-Ram</h3></div>
                    <div class="col-md-3 text-right align-self-start login">
                        {% if app.user == null %}
                        <a class="login" href="{{ path('app_login') }}">Login</a>/<a class="login" href="{{ path('app_register') }}">Sign Up</a>
                        {% else %}
                        <ul>
                            <li class="dropdown">
                                <a class="dropdown-toggle btn btn-secondary btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-user">  </span> {{ app.user.username }}
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="">Mis posts</a>
                                    <a class="dropdown-item" href="{{ path('app_editAccount') }}">Editar Cuenta</a>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="">Admin</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="">
                                        Cerrar Sesion <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>


                <div class="row text-center align-items-end">
                    <div class="col-lg-3 text-left"><a class="btn btn-lg btn-navegar signika" src="google.es">Navegar</a></div>
                    <div class="col-lg-6 text-center justify-content-center">
                        <form class="buscador form-inline mt-2 mt-md-0 justify-content-center">
                            <input class="form-control col-md-6" type="text" placeholder="Search" aria-label="Search">
                            <button type="button" class="btn btn-default btn-lg col-md-1 lupa">
                                <img src="img/lupa.png" height="26px">
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-3 text-right"><a class="btn btn-lg btn-success signika" href="{{ path('app_uploadArticle') }}">Venta</a></div>
                </div>
            </div>
    </header>

    {% block body %}{% endblock %}
    <footer>
        <div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Ayuda</h4>
                    <p>Devoluciones</p>
                    <p>Como detectar fakes</p>
                    <p>Condiciones de venta</p>
                    <p>Sobre la empresa</p>
                </div>
                <div class="col-md-4">
                    <h4>Contactar</h4>
                    <p>Politica de privacidad</p>
                    <p>Política de cookies</p>
                    <p>Preguntas frecuentes</p>
                </div>
                <div class="col-md-4">
                    <img src="img/lupa.png" height="26px">
                    <img src="img/lupa.png" height="26px">
                    <img src="img/lupa.png" height="26px">
                </div>
            </div>

        </div>
    </footer>
    {% block footer %}{% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
